body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif;
  }
  
  .navbar {
    width: 100%;
    height: 75px;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .nav-title {
    margin: 0;
  }
  
  .nav-link {
    text-decoration: none;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.5);
  }
  
  .nav-link:hover {
    color: rgba(0, 0, 0, 1);
    text-decoration: underline rgba(0, 0, 0, 1);
  }
  
  footer {
    width: 100vw;
    height: 75px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  #hero-content {
    width: 100%;
    height: calc(100vh - 150px);
    display: flex;
    flex-direction: row;
  }
  
  .left-content {
    width: 50%;
    height: 100%;
    position: relative;
  }
  
  .centered {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  
  .x2-font {
    font-size: 50px;
  }
  
  .muted {
    color: rgba(0, 0, 0, 0.5);
  }
  
  .custom-input {
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
    box-sizing: border-box;
    padding: 10px;
    padding-left: 20px;
    outline: none;
  }
  
  .custom-button {
    width: 100%;
    height: 40px;
    background-color: darkslategrey;
    color: white;
    margin-top: 10px;
    outline: none;
  }
  
  .social-icons {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .social-icons i {
    font-size: 1.5em;
  }
  
  .d-inline-block {
    display: inline-block;
  }
  
  .my-auto {
    margin-top: auto;
    margin-bottom: auto;
  }
  
  .flex-container {
    display: flex;
    flex-direction: row;
  }
  
  .small {
    font-size: 0.8em;
  }
  